.btn{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 0.750rem;
    background-color: blue;
    margin: 15px 5px;
    padding: 6px 12px;
    border-radius: 8px;
    color: white;
    transition: all 150ms ease;
    cursor: pointer;
    outline:none;
    border:none;          
}

.btn:hover{
    background-color: white ;
    color: blue;
}